* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: aqua;
}
body {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans";
  background: var(--page-bg);
  color: #0b1523;
}
a {
  text-decoration: none;
}
